header {
    background-image: linear-gradient(black, rgba(0, 0, 0, 0));
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
    min-height: 5em;
}