.billboard{
    margin-bottom: 7em;
    a {
        margin-left: auto;
    }
}

.netflix-small{
    height: 1.5em;
}

.btn-icons {
    height: 1.3em;
    margin-right: .5em;
}

.btns-wrapper{
    display: flex;
    gap: .7em;
    align-items: center;
}

.btn-info{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.btn-info:hover{
    background-color: rgba(109,109,110,0.4);
}

.btn-play:hover{
    background-color: rgba(255,255,255,0.75);
}

.small-title{
    letter-spacing: .3em;
    color: white;
    font-size: .7em;
    display: flex;
    align-items: center;
    gap: .7em;
}

.year-limit{
    display: flex;
    align-items: center;
    background-color: rgba(109, 109, 110, 0.5);
    width: 7%;
    padding-left: 1em;
    border-left: 4px solid white;
    color: white;
    height: 2em;
}

.volume{
    margin-right: .5em;
    height: 2.5em;
    width: 2.5em;
}


