footer{
    h2 {
        align-self: center;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-left: auto;
    }

    input,
    textarea,
    select{
        background-color: rgb(71, 71, 71);
        border: 0;
        border-radius: 4px;
        color: rgb(207, 207, 207);
        padding: 1em;
        min-width: 30em;
    }

    input, select{
        margin-bottom: .5em;
    }

    button{
        margin-top: 1.5em;
        align-self: center;
    }

    button:hover{
        background-color: rgb(189, 189, 189);
    }

    .category-label{
        margin-bottom: 0.3em;
    }
}