footer{
    img {
        height: 3em;
        margin-right: 1em;
        margin-top: 2em;
    }

    .left-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
}

