.bell-icon{
    height: 1.5em;
    margin-right: 1.5em;
}

.avatar-icon{
    height: 1.8em;
    margin-right: 0.7em;
    border-radius: 4px;
}

.triangle{
    height: 0.8em;
    transition: transform 0.2s;
}

.search-icon{
    height: 1.5em;
}

.logo {
    height: 1.8em;
}

