.option-bar-wrapper {
    position: relative;
}

.option-bar{
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.option-bar-content {
    opacity: 0;
    margin-top: 1em;
    visibility: hidden;
    position: absolute;
    background-color: black;
    right: 0;
    padding: 1em;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    transition: all 0.2s;
    a {
        margin: 0;
    }
}

.option-bar-wrapper:focus-within .option-bar-content {
    visibility: visible;
    opacity: 1;
}

.option-bar-wrapper:focus-within .triangle {
    transform: rotate(180deg);
}

.option-bar-content::before{
    content: '';
    position: absolute;
    border: 0.5em solid transparent;
    border-bottom-color: rgb(197, 197, 197);
    margin-top: -2.2em;
    margin-left: 3.9em;
}