.scrolling-menu{
    margin-bottom: 2em;
    & .heading{
        color: white;
        margin-bottom: .5em;
        font-size: 1.3rem;
    }

    & .content{
        min-width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: .4em;
        overflow-x: scroll;
    }

    img {
        height: 8em;
        border-radius: 2px;
        margin-bottom: 0.5em;
    }

    .vertical{
        img{
            height: 20em;
        }
    }

    ::-webkit-scrollbar {
        height: .5em;
    }
       
    ::-webkit-scrollbar-thumb {
        background-color: rgba(109, 109, 110, 0.7); 
        border-radius: 10px;
    }
      
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(134, 134, 134, 0.7); 
    }

}

