.search-bar{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.search-icon:focus + .search-input, .search-input:focus{
    visibility: visible;
    width: 17em;
    transition: 0.2s;
    outline-width: 0;
    margin-left: 1em;
}


.search-bar:focus-within{
    background-color: black;
    padding: 0.3em;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-right: 1.5em;
}

.search-input{
    width: 0;
    visibility: hidden;
    transition: 0.2s;
    margin-right: 1.5em;
    border: none;
    background-color: black;
    color: rgb(156, 156, 156);
}