@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: linear-gradient(rgba(255,0,0,0),rgba(255,0,0,0), black), url(../../images/bg.jpg),
                        linear-gradient(black, black);
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: cover;
    background-position: top, bottom;
}

a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    transition: color 0.7s;
}

a:hover{
    color: rgb(156, 156, 156);
}

a.active{
    color: white;
}

h1 {
    color: white;
    font-size: 5em;
}

h2 {
    color: white;
    margin-bottom: 1em;
}

button{
    border: none;
    padding: .8em 1.3em;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

li {
    display: inline-block;
    margin-left: 1em;
}