@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 0), black), url(../../images/bg.jpg), linear-gradient(black, black);
  background-repeat: no-repeat, no-repeat, repeat;
  background-size: cover;
  background-position: top, bottom;
}

a {
  color: #cfcfcf;
  text-decoration: none;
  transition: color 0.7s;
}

a:hover {
  color: #9c9c9c;
}

a.active {
  color: white;
}

h1 {
  color: white;
  font-size: 5em;
}

h2 {
  color: white;
  margin-bottom: 1em;
}

button {
  border: none;
  padding: 0.8em 1.3em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}

li {
  display: inline-block;
  margin-left: 1em;
}

header {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
  min-height: 5em;
}

.content-wrapper {
  margin-top: 20em;
  margin-left: 4%;
}

footer {
  width: 100%;
  background-color: #2e2e2e;
  display: flex;
  margin-top: 5em;
  padding-left: 4%;
  padding-right: 4%;
  padding: 2em 4%;
  color: white;
}

.search-bar {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.search-icon:focus + .search-input, .search-input:focus {
  visibility: visible;
  width: 17em;
  transition: 0.2s;
  outline-width: 0;
  margin-left: 1em;
}

.search-bar:focus-within {
  background-color: black;
  padding: 0.3em;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  margin-right: 1.5em;
}

.search-input {
  width: 0;
  visibility: hidden;
  transition: 0.2s;
  margin-right: 1.5em;
  border: none;
  background-color: black;
  color: #9c9c9c;
}

.option-bar-wrapper {
  position: relative;
}

.option-bar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-bar-content {
  opacity: 0;
  margin-top: 1em;
  visibility: hidden;
  position: absolute;
  background-color: black;
  right: 0;
  padding: 1em;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  width: max-content;
  transition: all 0.2s;
}
.option-bar-content a {
  margin: 0;
}

.option-bar-wrapper:focus-within .option-bar-content {
  visibility: visible;
  opacity: 1;
}

.option-bar-wrapper:focus-within .triangle {
  transform: rotate(180deg);
}

.option-bar-content::before {
  content: "";
  position: absolute;
  border: 0.5em solid transparent;
  border-bottom-color: #c5c5c5;
  margin-top: -2.2em;
  margin-left: 3.9em;
}

.bell-icon {
  height: 1.5em;
  margin-right: 1.5em;
}

.avatar-icon {
  height: 1.8em;
  margin-right: 0.7em;
  border-radius: 4px;
}

.triangle {
  height: 0.8em;
  transition: transform 0.2s;
}

.search-icon {
  height: 1.5em;
}

.logo {
  height: 1.8em;
}

.billboard {
  margin-bottom: 7em;
}
.billboard a {
  margin-left: auto;
}

.netflix-small {
  height: 1.5em;
}

.btn-icons {
  height: 1.3em;
  margin-right: 0.5em;
}

.btns-wrapper {
  display: flex;
  gap: 0.7em;
  align-items: center;
}

.btn-info {
  background-color: rgba(109, 109, 110, 0.7);
  color: white;
}

.btn-info:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.btn-play:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.small-title {
  letter-spacing: 0.3em;
  color: white;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.year-limit {
  display: flex;
  align-items: center;
  background-color: rgba(109, 109, 110, 0.5);
  width: 7%;
  padding-left: 1em;
  border-left: 4px solid white;
  color: white;
  height: 2em;
}

.volume {
  margin-right: 0.5em;
  height: 2.5em;
  width: 2.5em;
}

.scrolling-menu {
  margin-bottom: 2em;
}
.scrolling-menu .heading {
  color: white;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}
.scrolling-menu .content {
  min-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.4em;
  overflow-x: scroll;
}
.scrolling-menu img {
  height: 8em;
  border-radius: 2px;
  margin-bottom: 0.5em;
}
.scrolling-menu .vertical img {
  height: 20em;
}
.scrolling-menu ::-webkit-scrollbar {
  height: 0.5em;
}
.scrolling-menu ::-webkit-scrollbar-thumb {
  background-color: rgba(109, 109, 110, 0.7);
  border-radius: 10px;
}
.scrolling-menu ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(134, 134, 134, 0.7);
}

footer h2 {
  align-self: center;
}
footer form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-left: auto;
}
footer input,
footer textarea,
footer select {
  background-color: #474747;
  border: 0;
  border-radius: 4px;
  color: #cfcfcf;
  padding: 1em;
  min-width: 30em;
}
footer input, footer select {
  margin-bottom: 0.5em;
}
footer button {
  margin-top: 1.5em;
  align-self: center;
}
footer button:hover {
  background-color: #bdbdbd;
}
footer .category-label {
  margin-bottom: 0.3em;
}

footer img {
  height: 3em;
  margin-right: 1em;
  margin-top: 2em;
}
footer .left-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

/*# sourceMappingURL=app.css.map */
